<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paradise Marvels</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
    <header>
        <h1>Paradise Marvels</h1>
        <nav>
            <ul>
                <li><a href="../pages/home.html">Home</a></li>
                <li><a href="../pages/cart.html">Cart</a></li>
                <li><a href="../pages/product.html">Products</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>